@charset "UTF-8" ;

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;
}

.bg_01 {
    height: 600px;
    background-image: url(../img/브릿지\ ㄹㅈ.jpg);
    background-size: cover;
    /* 배경이미지크기 : 값 1개 -> 가로값 사이즈 , 세로값은 자동조절 
                     값 2개 -> 가로값 세로값
                     contain -> 영역에 한쪽만 채워짐
                     cover -> 영역에 이미지로 덮어서 적용(이미지의 일부가 잘리는 현상)
                   
    */
    background-repeat:repeat-x;
    /*  background-repeat 이미지 반복
    no-repeat : 반복안함
    repeat-x :가로축 반복
    repeat-y : 세로축 반복  */
    background-position: center;
    /*  background-position 이미지 위치
    값 2개 작성 -> x축 이동 , y축 이동 (px, %) 사용가능
    top, bottom -> 위, 아래
    left, right -> 좌 , 우
    center -> 가운데
    */
}

.bg_02 {
    padding: 200px 0;
    background: url(../img/초코케이크.jpg) center / cover no-repeat ;
    /* background : 이미지경로 이미지위치 / 이미지사이즈 배경컬러 이미지반복 이미지고정(fixed) (/ 필수) */
    background-attachment: fixed;
}

.bg_02 .list {
    display: flex;
    justify-content: center;
}

.bg_02 .list div {
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin: 0 20px;
}
