@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'skybori';
    src: url('font/하늘보리/569d2bf41dedfd22eae099390a11c88c.eot');
    src: url('font/하늘보리/569d2bf41dedfd22eae099390a11c88c.eot?#iefix') format('embedded-opentype'),
        url('font/하늘보리/569d2bf41dedfd22eae099390a11c88c.woff2') format('woff2'),
        url('font/하늘보리/569d2bf41dedfd22eae099390a11c88c.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Las Americas PERSONAL USE';
    src: url('font/las_americas/LasAmericasPERSONALUSE-Regular.eot');
    src: url('font/las_americas/LasAmericasPERSONALUSE-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/las_americas/LasAmericasPERSONALUSE-Regular.woff2') format('woff2'),
        url('font/las_americas/LasAmericasPERSONALUSE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    src: url('font/pretendard/Pretendard-ExtraBold.eot');
    src: url('font/pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('font/pretendard/Pretendard-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    src: url('font/pretendard/Pretendard-Bold.eot');
    src: url('font/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('font/pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    src: url('font/pretendard/Pretendard-Black.eot');
    src: url('font/pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-Black.woff2') format('woff2'),
        url('font/pretendard/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    src: url('font/pretendard/Pretendard-ExtraLight.eot');
    src: url('font/pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('font/pretendard/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    src: url('font/pretendard/Pretendard-Light.eot');
    src: url('font/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-Light.woff2') format('woff2'),
        url('font/pretendard/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    src: url('font/pretendard/Pretendard-Medium.eot');
    src: url('font/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('font/pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    src: url('font/pretendard/Pretendard-Regular.eot');
    src: url('font/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('font/pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    src: url('font/pretendard/Pretendard-SemiBold.eot');
    src: url('font/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('font/pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'pretendard';
    src: url('font/pretendard/Pretendard-Thin.eot');
    src: url('font/pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('font/pretendard/Pretendard-Thin.woff2') format('woff2'),
        url('font/pretendard/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}




* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;
}

.font {
    font-size: 40px;
}

.font p:first-child {
    font-family: 'TTLaundryGothicB';
}

.font p:nth-child(2) {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

.font p:nth-child(3) {
    font-family: 'skybori';
}

.font p:nth-child(4) {
    font-family: 'Las Americas PERSONAL USE';
}


.font_02 {
    font-size: 40px;
}
.font_02 p:nth-child(1){
    font-family: 'pretendard';
    font-weight: 100;
}
.font_02 p:nth-child(2){
    font-family: 'pretendard';
    font-weight: 200;
}
.font_02 p:nth-child(3){
    font-family: 'pretendard';
    font-weight: 300;
}
.font_02 p:nth-child(4){
    font-family: 'pretendard';
    font-weight: 400;
}
.font_02 p:nth-child(5){
    font-family: 'pretendard';
    font-weight: 500;
}
.font_02 p:nth-child(6){
    font-family: 'pretendard';
    font-weight: 600;
}
.font_02 p:nth-child(7){
    font-family: 'pretendard';
    font-weight: 700;
}
.font_02 p:nth-child(8){
    font-family: 'pretendard';
    font-weight: 800;
}
.font_02 p:nth-child(9){
    font-family: 'pretendard';
    font-weight: 900;
}