@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;
}
.text_slide {
    background-color: dodgerblue;
    color: #fff;
    padding: 20px 0;
    font-size: 40px;

    white-space: nowrap;
    /* 텍스트가 자동으로 줄바꿈 되지 않도록 설정 */
}
.text_slide p {
    animation-name: textslide;
    /* 애니메이션 이름 짓기 */

    animation-duration: 20s;
    /* 애니메이션 실행시간 */

    animation-iteration-count: 3;
    /* 애니메이션 횟수
    숫자 -> 숫자만큼 실행 
    infinite -> 무한반복     */
   
    animation-direction: alternate-reverse;
    /* 애니메이션 방향 
    alternate -> 정방향 실행 후 역방향으로 실행
    reverse
    alternate-reverse
     */

     animation-delay: 3s;
     /* 애니메이션 지연시간 */

     animation-timing-function:ease-out;
     /* 애니메이션 속도
      linear -> 일정한 속도 유지 
      easy -> 천천히 시작 후 빨라지고 마지막에 느려짐
      easy-in -> 천천히 시작 후 일정 속도로 유지
      easy-out -> 마지막에 속도를 줄여줌
      easy-in-out -> 천천히 시작 후 정상속도 되었다가 마지막에 속도 줄여줌 */
}

@keyframes textslide {
    0% {
        background-color: lightpink;
    }
    100% {
        transform: translateX(-100%);
    }
}


.ball {
    width: 100px;
    height: 100px;
    background-color: rgb(10, 245, 61);
    border-radius: 50%;

    animation: ball 2s 3s infinite alternate linear;
    /* 애니메이션 : 이름 실행시간 지연시간 횟수 방향 속도
    지연시간은 생략가능  */
}

@keyframes ball {
    0% {}
    50%{
        transform: translate(200px, 200px);
    }
    100% {
      height: 70px ; 
      transform: translateY(400px)
    }
}