@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    line-height: 1;
}

.list .item {
    width: 500px;
    border: 1px solid black;
    margin: 30px;
}

.list .item figure {
    width: 100%;
    height: 500px;
    background-color: blueviolet;
    overflow: hidden;
}

.list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
}

.list .item p {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
}

.list .item:first-child:hover figure img {
    transform: rotate(45deg);
}

.list .item:nth-child(2):hover figure img {
    transform: rotateX(180deg);
}
.list .item:nth-child(3):hover figure img {
    transform: rotateY(360deg);
}