@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    line-height: 1;
}

.list .item {
    width: 500px;
    border: 1px solid black;
    margin: 30px;
}

.list .item figure {
    width: 100%;
    height: 500px;
    background-color: blueviolet;
    overflow: hidden;
}

.list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
}

.list .item p {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
}

.list .item:first-child:hover figure img {
    transform: scale(1.3);
    /* 숫자로 이미지 확대(배수) */
}

.list .item:nth-child(2):hover figure img {
    transform: scaleX(0.7);
}

.list .item:nth-child(3):hover figure img {
    transform: scale(0.7);
    transform-origin: center top;
    /* transform-origin : 위치변경속성 (기준점)
    left center, right
    top, center, bottom*/
}

.box {
    width: 400px;
    height: 600px;
    border: 1px solid #333;
    position: relative;
}

.box figure {
    width: 100%;
    height: 100%;
    /* height 값 무조건 적용 */
    overflow: hidden;
}

.box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
}

.box .text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    color: #fff;
    transform: translate(0, -50%);
    text-align: center;
    display: none;
}

.box::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #3d3b3b9c;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.box:hover::before {
    display: block;
}

.box:hover figure img {
    transform: scale(1.2);
}

.box:hover .text {
    display: block;
}

.circle {
    width: 400px;
    height: 600px;
    position: relative;
}
.circle figure {
    width: 100%;
    height:100% ;
    border-radius: 20px;
}
.circle figure img {
    width: 100%;
    height: 100%;
    border-radius: 200px;
    object-fit: cover;
}
