@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.box figure {
    width: 400px;
    height: 400px;
    margin: 30px;
}

.box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box figure:nth-child(1) img {
    filter: grayscale(100%);
}
.box figure:nth-child(1):hover img {
    filter: grayscale(0%);
}

.box figure:nth-child(2) img {
    filter: blur(5px);
}